* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Gotham", sans-serif;
  letter-spacing: -0.05em;
  background-color: $black;
}

h1 {
  margin: 0px;
  font-family: "Anton", sans-serif;
  color: $white;
  font-weight: 400;
  @include font(173px, 90%);
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.theme__checkbox {
  display: none;
  &:checked
    ~ .theme__box
    .greetings
    .greetings__wrapper
    .greetings__content
    .greetings__title {
    background: $dark-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
h2 {
}

img {
  @include size(100%, auto);
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

button {
  font-family: "Gotham", sans-serif;
  color: $white;
  border: none;
  @include fontsize(20px);
  transition: all 0.4s;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.container {
  margin: 0 auto;
  max-width: 1530px;
}
