* {
  box-sizing: border-box;
}

body {
  min-width: 280px;
  margin: 0;
  font-family: "Gotham", sans-serif;
  letter-spacing: -0.05em;
  background-color: $black;
}

h1 {
  margin: 0px;
  font-family: "Anton", sans-serif;
  color: $white;
  font-weight: 400;
  @include font(173px, 90%);
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

h2 {
  margin: 0px;
  font-family: "Anton", sans-serif;
  color: $white;
  font-weight: 400;
  @include font(64px, 100%);
  text-transform: uppercase;
}

img {
  @include size(100%, auto);
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

button {
  font-family: "Gotham", sans-serif;
  color: $white;
  letter-spacing: -0.05em;
  border: none;
  @include fontsize(20px);
  transition: all 0.4s;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.container {
  margin: 0 auto;
  max-width: 1530px;
}
