* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Gotham", sans-serif;
  background-color: $black;
}

img {
  @include size(100%, auto);
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

button {
  font-family: "Gotham", sans-serif;
  @include fontsize(16px);
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.container {
  margin: 0 auto;
  max-width: 1530px;
}
