.footer {
  padding-top: 147px;
  padding-bottom: 47px;
  background-color: $dark-text;
  &__wrapper {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
  }
  &__menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    @include size(100%, 100%);
    &-box {
      @include size(164.25px, 60.75px);
    }
  }
  &__thanks {
    position: absolute;
    content: "";
    bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 55px;
    background: #a87ff3;
    border-radius: 15px;
    &-icon {
      &-box {
        @include size(150px, 125px);
        &_left {
          transform: rotate(180deg) translateY(-55px);
        }
      }
    }
    &-image {
      @include size(100%, 100%);
      &-box {
        position: absolute;
        content: "";
        right: 0;
        left: -30px;
        bottom: 216px;
        @include size(281px, 180px);
      }
    }
    &-text {
      width: calc((1200px * 100%) / 1530px);
      margin: 0px;
      margin-left: 160px;
      padding-top: 70px;
      @include font(22px, 22px);
      font-weight: 700;
      color: $white;
    }
  }
}
