@mixin font($fz, $lh) {
  font-size: $fz;
  line-height: $lh;
}
@mixin fontsize($fz) {
  font-size: $fz;
}
@mixin size($wh, $ht) {
  width: $wh;
  height: $ht;
}
@mixin padding-top-bottom($top, $bootom) {
  padding-top: $basic-indent * $top;
  padding-bottom: $basic-indent * $bootom;
}

@mixin shell($background, $border-color, $border-radius) {
  background: $background;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}
