.stats {
  margin-bottom: 200px;
  &__wrapper {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    gap: 77px;
    width: 100%;
    padding: 82px 100px;
    @include shell(#0b0b0b, #646464, 29px);
    @media (max-width: 1150px) {
      padding-left: 50px;
      padding-right: 50px;
  gap:126;
     }
  }
  &__content {
  }
  &__figures {
    margin: 0;
    margin-bottom: 40px;
    color: $green-light;
    font-family: "Anton", sans-serif;
    @include font(128px, 90%);
  }
  &__text {
    margin: 0;
    color: $green-light;
    font-weight: 500;
    @include font(36px, 100%);
    letter-spacing: -0.05em;
    text-align: center;
  }
  &__icons-box {
    @include size(80px, 80px);
    @media (max-width: 1400px) {
     display: none;
    }
  }
  &__icon-dark {
    @include size(100%, 100%);
  }
  &__icon-light {
    @include size(100%, 100%);
    display: none;
  }
}
.theme__checkbox {
  display: none;
  &:checked ~ .theme__box .stats .container .stats__wrapper {
    @include shell(#f6fff6, $black, 29px);
  }
}
.theme__checkbox {
  display: none;
  &:checked ~ .theme__box .stats .container .stats__wrapper .stats__content {
    .stats__icons-box {
      .stats__icon-dark {
        display: none;
      }
      .stats__icon-light {
        display: block;
      }
    }
    .stats__figures {
      color: $green-dark;
    }
    .stats__text {
      color: $green-dark;
    }
  }
}
