//colors
$white: #ffffff;
$black: #000000;
$green-light: #C8FEC7;
$green-dark: #64C661;
$dark-text:  #292929;

//fonts
$primary-font: "Gotham", sans-serif;
$anton-font: "Anton", sans-serif;
$poppins: "Poppins", sans-serif;
$poppins-italic: "Poppins Italic", sans-serif;
